params {
    input = null
    outdir = './results'
    input_file = null
    fasta_file = null
    annotation_file = null
    annotation_protein_file = null
    feature_id_col = 'Sequence'
    site_col = 'Modified sequence'
    protein_col = 'Proteins'
    probability_col = 'Phospho (STY) Probabilities'
    min_probability = 0.75
    protein_file = null
    protein_feature_id_col = 'Sequence'
    protein_id_col = 'Proteins'
    comparison_file = null
    log2_transform = true
    exclude_conditions = null
    remove_norm_channel = true
    col_filter = 0.7
    row_filter = 0.7
    impute_order = 'after'
    impute = 'knn'
    normalize_method = 'center.median'
    aggregation_order = 'after'
    summarization_method = 'mean'
    adjust_method = 'BH'
    alpha = 0.05
    lfc_threshold = 1
    organism = 'human'
    perform_kinase_analysis = true
    kinase_top_substrates = 30
    kinase_score_threshold = 0.8
    kinase_num_motifs = 5
    top_pathways_plot = 20
    top_ptmset_plot = 20
    top_diff_sites_heatmap = 50
    top_phosphosite_heatmap = 50
    network_plot_top_interactions = 50
}

profiles {
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    conda {
        conda.enabled = true
    }
}
